{% load staticfiles %}

<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Blog Django girls</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
<body>

<div>
    <h1><a href="/">Blog django</a> </h1>
</div>

{% for valor in posts %}
    <div>
        <p> Publicado em: {{ valor.published_date }} </p>
        <h1><a href="">{{ valor.title }}<a/></h1>
        <p>{{ valor.text }}</p>
    </div>
{% endfor %}



</body>
</html>